{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create VR</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'users/images/icons/favicon.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animate/animate.css'%}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/select2/select2.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
  <!--===============================================================================================-->

  <style media="screen">
    table {
      margin: auto;
      border-collapse: collapse;
      overflow-x: auto;
      display: block;
      width: 2000px;
      max-width: 100%;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    }

    tbody {
      width: 100%;
      display: table;
    }

    td,
    th {
      border: solid rgb(200, 200, 200) 1px;
      padding: .5rem;
    }

    th {
      text-align: left;
      background-color: rgb(190, 220, 250);
      text-transform: uppercase;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-top: none;
    }

    td {
      white-space: nowrap;
      border-bottom: none;
    }

    td:first-of-type,
    th:first-of-type {
      border-left: none;
    }

    td:last-of-type,
    th:last-of-type {
      border-right: none;
    }

    #create_form {
      width: 100%;
    }

    #create_title {
      font-size: 50px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="text-center wrap-login100" style="width : 1490px; padding-top : 50px;">

        <form id="create_form" method="post">
          {% csrf_token %}
          <span class="login100-form-title mt-0" id="create_title">
            CREATE VR PROJECT
          </span>
          <div class="row">
            <div class="col-md-5">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen>
                </iframe>
              </div>
              <div class="text-center">
                <div class="btn-group mt-2" role="group">
                  <button type="button" class="btn btn-outline-primary">미리보기</button>
                  <button type="button" class="btn btn-outline-primary">저장</button>
                  <button type="button" class="btn btn-outline-primary">저장 후 닫기</button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <ul class="nav nav-tabs">
                <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#title">TITLE</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#component">COMPONENT</a></li>
              </ul>

              <div class="tab-content">
                <div id="title" class="tab-pane fade show active">
                  {{form|crispy}}
                </div>

                <div id="component" class="tab-pane fade">
                  <h3>component</h3>

                  <div class="input-group">
                    <select class="custom-select" id="select1" onchange="itemChange1()">
                      <option selected>CREATE...</option>
                      <option value="box">BOX</option>
                      <option value="circle">CIRCLE</option>
                      <option value="cone">CONE</option>
                      <option value="cylinder">CYLINDER</option>
                      <option value="dodecahedron">DODECAHEDRON</option>
                      <option value="sphere">SPHERE</option>
                      <option value="icosahedron">ICOSAHEDRON</option>
                      <option value="plane">PLANE</option>
                      <option value="sky">SKY</option>
                    </select>
                  </div>

                  <div class="input-group">
                    <select class="custom-select" id="select2">
                    </select>
                  </div>

                  <div class="form-group">
                  {{ abox|crispy }}
                  </div>
                  </div>
                </div>
            </div>

              <div class="container-login100-form-btn">
                <a href="{{Project.get_absolute_url}}">
                  <button class="login100-form-btn">
                    CREATE
                  </button>
                </a>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>

  <script src="{% static 'django-dynamic-formset\src\jquery.formset.js' %}">

  </script>

  <script type="text/javascript">
    function itemChange1() {
      var box = ['name', 'color', 'position', 'rotation', 'scale', 'depth', 'height', 'width', 'visible', 'shadow'];
      var circle = ['name', 'color', 'position', 'rotation', 'scale', 'radius', 'theta_length', 'theta_start', 'visible', 'shadow'];
      var cone = ['name', 'color', 'position', 'rotation', 'scale', 'radius_bottom', 'radius_top', 'theta_length', 'theta_start', 'height', 'visible', 'shadow'];
      var cylinder = ['name', 'color', "position", "rotation", "scale", "radius", "theta_length", "theta_start", "height", "open_ended", "visible", "shadow"];
      var dodecahedron = ["name", "color", 'position', 'rotation', 'scale', 'radius', 'visible', 'shadow'];
      var sphere = ['name', 'color', 'position', 'rotation', 'scale', 'radius', 'theta_length', 'theta_start', 'visible', 'shadow'];
      var icosahedron = ['name', 'color', 'position', 'rotation', 'scale', 'radius', 'visible', 'shadow'];
      var plane = ['name', 'color', 'position', 'rotation', 'scale', 'height', 'width', 'visible', 'shadow'];
      var sky = ['name', 'color', 'position', 'rotation', 'opacity', 'radius', 'theta_start', 'theta_length', 'visible', 'shadow'];

      var items = {
        'box': box,
        'circle': circle,
        'cone': cone,
        'cylinder': cylinder,
        'dodecahedron': dodecahedron,
        'sphere': sphere,
        'icosahedron': icosahedron,
        'plane': plane,
        'sky': sky
      };

      var selectItem = $("#select1").val();

      var changeItem;
      for (var i in items) {
        if (selectItem == i) {
          changeItem = items[i];
        }
      }

      $("#select2").empty();


      for (var c in changeItem) {
        var option = $("<option>" + changeItem[c] + "</option>");
        $("#select2").append(option);
      }
    }
  </script>
  <script type="text/javascript">
    $('.formset_row_box-{{ formset.prefix }}').formset({
      addText: 'add another',
      deleteText: 'delete',
      prefix: '{{ formset.prefix }}'
    });
  </script>

</body>

</html>
