{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="WebVR">
  <meta name="author" content="SeeWhy">

  <title>{% block title %}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav" style="background-color: black;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="http://127.0.0.1:8000/WebVR/" style="color: #24b695;">PDICVR</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Projects</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#appointment">Appointments</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="">
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">
          {% if user.profile %}
          <img src="{{user.profile.image.url}}" class="rounded-circle artivle-img">
          {% else %}
          Profile
          {%endif%}
        </a>
        <a href="{% url 'logout' %}">
          Log out
        </a>
      {% else %}
        <a href="{% url 'login' %}">
          Log in
        </a>
      {% endif %}
    </div>
  </nav>


  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags}} mt-0">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <div class="container">
      <h2 class="font-weight-light mb-0">PDICVR</h2>
      <hr class="star-light">

      <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'img/vrer.jpg' %}" alt="" style="border-radius: 50%;">
    
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">PDICVR</h2>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">WebVR Experiences</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
               <h3>360<span>&#176;</span> Image</h3>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/vr.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <h3>Dynamic Lights</h3>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/vr.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
               <h3>Curved Images</h3>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/vr.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <h3>Burj Khalifa</h3>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/vr.jpg' %}" alt="">
          </a>
        </div>

 
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">A PAIN DISTRACTION INTERVENTION FOR CHEMOTHERAPY BY USE OF A
            VIRTUAL REALITY WEBAPP</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">This Web Application seeks to provide a definite solution that will come up with a distraction
            intervention mechanism that will create a positive perception in a patients’ mind for them not
            to endure pain while undergoing chemotherapy sessions.</p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="#portfolio">
          Go To Projects
        </a>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  
  <!-- Appointments -->
  <section id="appointment">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Appointments</h2>
        <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
     
          <!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Appointment ID</th>
      <th>Doctor</th>
      <th>Date Of Appointment</th>
      <th>Doctor's Comment</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      {% for appointment in appointments %}
    <tr class="table-info">
      <th scope="row">{{ appointment.appointment_no}}</th>
      <td>{{appointment.appointment_id}}</td>
      <td>{{appointment.doctor}}</td>
      <td>{{ appointment.date_of_appointment}}</td>
      <td>{{appointment.comment}}</td>

    </tr>
    {% endfor %}
  </tbody>
  <!--Table body-->


</table>
<!--Table-->        
       

        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0"> Naorobi, Kenya
            </p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Follow Us</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-linkedin-in"></i>
              </a>
            </li>
    
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="text-uppercase mb-4">About WebVR</h4>
          <p class="lead mb-0">WebVR is a small piece of JavaScript that runs in the browser on the web and provides an
            API for use in virtual reality (VR) applications. Basically, WebVR makes it possible to
            experience VR in most of today’s browsers.</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; PDICVR.com 2021</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">360<span>&#176;</span> IMAGE</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="{% static 'img/portfolio/cabin.jpg'%}" alt="">
            <p class="mb-5">This is a 360<span>&#176;</span> image of Puy de Sancy France,</p>
            <a class="btn btn-primary btn-lg rounded-pill" href="https://aframe.io/aframe/examples/boilerplate/panorama/">
              <i class="fa fa-close"></i>
              Start VR</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Dynamic Lights</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="{% static 'img/portfolio/cake.jpeg' %}" alt="">
            <p class="mb-5">See How the lights move in a relaxing way.</p>
            <a class="btn btn-primary btn-lg rounded-pill " href="https://aframe.io/aframe/examples/showcase/dynamic-lights/">
              <i class="fa fa-close"></i>
              Start VR</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Cuved Mockups</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="{% static 'img/portfolio/curve.jpg' %}" alt="">
            <p class="mb-5">This is a compilation of curved images amd articles. It is best for people who like to read.</p>
            <a class="btn btn-primary btn-lg rounded-pill" href="https://aframe.io/aframe/examples/showcase/shopping/">
              <i class="fa fa-close"></i>
              Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">BURJ KHALIFA</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="{% static 'img/portfolio/game.webp' %}" alt="">
            <p class="mb-5">This is the wikipedia page of the tallest building in the world BURJ KHALIFA in Dubai. </p>
            <a class="btn btn-primary btn-lg rounded-pill" href="https://aframe.io/aframe/examples/showcase/wikipedia/">
              <i class="fa fa-close"></i>
               Start VR</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>
