{% extends 'WebVR/projects_base.html' %}

{% block title %}
  Welcom to WebVR
{% endblock title %}


{% block Project3 %}
{{3.name}}
{% endblock Project3 %}

{% block content3 %}
{{3.description}}
{% endblock content3 %}


{% block Project4 %}
{{4.name}}
{% endblock Project4 %}

{% block content4 %}
{{4.description}}
{% endblock content4 %}


{% block Project5 %}
{{5.name}}
{% endblock Project5 %}

{% block content5 %}
{{5.description}}
{% endblock content5 %}


{% block Project6 %}
{{6.name}}
{% endblock Project6 %}

{% block content6 %}
{{6.description}}
{% endblock content6 %}
