{% extends 'doctors/index.html' %}
{% load static %}

{% block content %}
<legend style="margin: 10px; padding: 5px; color: black;">Patient: {{patient.name}}  
</legend>
<form method="get">
  {{ myFilter.form }}
</form><br>
<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">Appointment No</th>
        <th scope="col">Date</th>
        <th scope="col">Doctor</th>
        <th scope="col">comment</th>
        
      </tr>
    </thead>
    
    <tbody>
    {% for appointment in page_obj %}
      <tr>
        <td>{{appointment.appointment_no}}</td>
        <td>{{appointment.date_of_appointment}}</td>
        <td>{{appointment.doctor}}</td>
        <td>{{appointment.comment}}</td>
        <td>{{invoice.Total}}</td>
   
      
      </tr>

      {% endfor %}
    </tbody>
   
  </table>
  <div class="text-center container mt-5">
    {% if page_obj.has_previous %}
      <a class="poppins-font p-2" href="?page={{page_obj.previous_page_number}}">previous</a>
    {% endif %}

    <a class="p-2 active-btn poppins-font text-dark" style="background-color:lightgreen;">{{page_obj.number}}</a>
    
    {% if page_obj.has_next %}
      <a class="p-2 poppins-font" href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}

  </div>
{% endblock content%}